body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 24px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #292929;
  overflow-x: hidden;
}

html{
  font-size: 60%;
}

.themify-icon-icon {
  padding: 10px;
  font-size: 33px;
  display: inline-block;
  border-radius: 50px;
  background-color: #2b3549;
}

.work-icon {
  font-size: 35px;
  padding: 7px;
}

.footer-icon {
  font-size: 20px;
  padding: 10px;
}
.projectTitle{
  text-decoration: underline;
}

.projectNav{
  margin: 5px;
  padding: 15px;
}

.profile-image {
  padding-right: 15px;
  margin-top: 120px;
}

.stephen .dangerfield{
  padding: 0px;
  margin: 0px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 17px;
}


ul {
  list-style: none;
}

.image-bg hr {
  border-color: #fff;
  opacity: .6;
}

h1,.h1 {
  font-size: 56px;
  line-height: 64px;
}

h1.large {
  font-size: 72px;
  line-height: 80px;
  font-weight: 100;
}

h5.large {
  font-size: 30px;
  line-height: 40px;
  font-weight: 100;
}

@media all and (max-width: 990px) {
  h1.large {
    font-size: 56px;
  }
}

h2 {
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@media all and (max-width: 767px) {
  h1,  h1.large,  .h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
    line-height: 40px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
  }

  h4 {
    font-size: 18px;
    line-height: 26px;
  }

  h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}

.bg-primary {
  background: #2b3549 !important;
}

.about {
  font-size: 130px;
}

#work {
  padding: 40px 0;
}
#projects{
  padding: 40px 0;

}

.bg-primary h1,.bg-primary h2,.bg-primary h3,.bg-primary h4,.bg-primary h5,.bg-primary h6 {
  color: #ffffff;
}

.image-bg h1,.image-bg h2,.image-bg h3,.image-bg h4,.image-bg h5,.image-bg h6 {
  color: #ffffff;
}

.image-bg p,.image-bg li {
  color: #ffffff;
}

.image-bg .container,.image-bg div[class*='col-'] {
  position: relative;
  z-index: 3;
}

.container.image-bg .row {
  position: relative;
  z-index: 3;
}

.feature.bordered {
  padding: 32px;
  border: 1px solid #ccc;
}

img {
  max-width: 100%;
}

.hidden {
visibility: hidden;
display: none;
}

.image-tile {
  overflow: hidden;
  position: relative;
  margin-bottom: 24px;
}

.hover-tile {
  position: relative;
  overflow: hidden;
  background: #292929;
}

.hover-tile img {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.hover-tile:hover img {
  opacity: .1;
}

.hover-tile .hover-state {
  position: relative;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  top: 50%;
  z-index: 2;
  position: absolute;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: 0;
  width: 100%;
}

.hover-state {
  z-index: 99;
  padding: 0 40px;
  cursor: default;
}

.hover-state h1,.hover-state h2,.hover-state h3,.hover-state h4,.hover-state h5,.hover-state h6 {
  color: #ffffff;
}

.hover-state p,.hover-state li {
  color: #ffffff;
}

.hover-state * {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transform: translate3d(0, 30px, 0) scale(1.05);
  -webkit-transform: translate3d(0, 30px, 0) scale(1.05);
}

.hover-tile:hover .hover-state {
  opacity: 1;
}

.hover-tile:hover .hover-state * {
  transform: translate3d(0, 0px, 0) scale(1);
  -webkit-transform: translate3d(0, 0px, 0) scale(1);
}

.hover-state *:last-child {
  margin-bottom: 0;
}

.footer-links{
color: inherit;
text-decoration: none;
}

.footer-links:hover {
 color: inherit;
 text-decoration:none;
 cursor:pointer;
}
