body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 24px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #292929;
  overflow-x: hidden;
}

.footer-links{
color: inherit;
text-decoration: none;
}

.footer-links:hover {
 color: inherit;
 text-decoration:none;
 cursor:pointer;
}

.footer-icon {
  font-size: 20px;
  padding: 10px;
}

.stephen .dangerfield{
  padding: 0px;
  margin: 0px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 17px;
}

  .stephenHeader{
  color: inherit;
  text-decoration: none;
}

 .stephenHeader:hover {
  color: inherit;
  text-decoration:none;
  cursor:pointer;
}


ul {
  list-style: none;
}

h1,.h1 {
  font-size: 56px;
  line-height: 64px;
}

h1.large {
  font-size: 72px;
  line-height: 80px;
  font-weight: 100;
}

h2.large {
  font-size: 62px;
  line-height: 70px;
  font-weight: 100;
}

h5.large {
  font-size: 30px;
  line-height: 40px;
  font-weight: 100;
}

h6.large {
  font-size: 23px;
  line-height: 40px;
  font-weight: 100;
}



@media all and (max-width: 990px) {
  h1.large {
    font-size: 56px;
  }

  h2.large {
    font-size: 40px;
  }

  h6.large {
    font-size: 18px;
  }

  img {
    width: 100%;
  }

}

h2 {
  font-size: 46px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@media all and (max-width: 767px) {
  h1,  h1.large,  .h1 {
    font-size: 48px;
  }

  h2, h2.large .h2 {
    font-size: 32px;
    line-height: 40px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
  }

  h4 {
    font-size: 18px;
    line-height: 26px;
  }

  h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  h6.large {
    font-size: 13px;
  }
  img {
    width: 100%;
  }
}

.center{
  text-align: center;
}

.feature.bordered {
  padding: 32px;
  border: 1px solid #ccc;
}

img {
  max-width: 70%;
}

hr {
  height: 6px;
  background: white;
  border: 2px solid black;
  outline: none;
  margin: 1em 1em 2em;
  position: relative;

}

#contact{
  padding: 10px;
}
